
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles
/public/bootstrap
/public/js/bootstrap
/public/js/pixijs
/public/css/bootstrap
/public/scss
/docs/
/var/
/vendor/
/images/uploaded/
*.zip
*.txt
*.bu
.env
###< symfony/framework-bundle ###