body {
    margin-top:90px;
}

.navbar {
    margin-left: 5%;
    border-style: none none double none;
    width: 90%;
    z-index: 1000;
}

.navbar-bg-gradient {
    background: linear-gradient(to bottom right, #33cccc 0%, #6699ff 50%, #33cccc 100%);
}

.navbar-brand.title {
    color:black;
}

.nav-item a {
    color:black !important;
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}