<nav class="navbar fixed-top bg-white navbar-expand-lg border-dark navbar-dark mb-3">
	<div class="container">
		<a href="/" class="navbar-brand title">Abe's<small>&nbsp(dev version)</small>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse text-dark" id="mobile-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="http://abraham-kurnanto.com/index.html" class="nav-link">
						<i class="fas fa-home"></i>
						Home</a>
				</li>
				{% if app.user %}
					{% if  app.user.username == 'admin' %}
						<li class="nav-item">
							<a href="{{ path('_admin') }}" class="nav-link">
								<i class="fas fa-users"></i>
								Users</a>
						</li>
					{% endif %}
				{% endif %}
                <li class="nav-item">
                    <a href="https://github.com/rumbledot" class="nav-link">
                        <i class="fab fa-github"></i>
                        GitHub</a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/rumbledot" class="nav-link">
                        <i class="fas fa-book-dead"></i>
                        etc.</a>
                </li>
			</ul>
		</div>
	</div>
</nav>
