{% extends "base.html.twig" %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/page/card.js') }}"></script>
{% endblock %}

{% block body %}
	{% set col_count = 1 %}
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-12">
				{{ card(feat) }}
			</div>

			{% for blog in blogs %}
				{% if col_count == 0 %}
					<div class="row">
					{% endif %}

					<div class="col-lg-4 col-sm-12">
						{{ card(blog) }}
					</div>

					{% set col_count = col_count + 1 %}
					{% if col_count > 2 %}
						{% set col_count =  0 %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<!-- Modal -->
		<div class="modal fade" id="newComment" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="newCommentModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content bg-dark">
					<div class="modal-header bg-warning">
						<h5 class="modal-title" id="newCommentModal">New Comment</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<textarea id="commentBox" class="form-control" row="2"></textarea>
					</div>
					<div class="modal-footer">
						<button id="cancelComment" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button id="submitComment" type="button" class="btn btn-warning">OK</button>
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
